.nav {
    background: #CAE278;
    border-top: 1px solid rgba(0,0,0,.05);
    box-shadow: -1px 0 7px rgba(0,0,0,.2);
}

.navBrand {
    font-size: 0.8rem;
    font-family: "Roboto Mono", monospace;
}