.footerContainer {
    margin-top: 3rem;
    font-family: "Roboto Mono", monospace;
}

.footerContainer *, .footerContainer p {
    font-size: 0.75rem;
    line-height: 120%;
    margin-bottom: 0;
    color: rgba(0,0,0,.6);
}