.help {
    padding: 0.2rem 0.6rem 0.4rem .6rem;
    border-radius: 10rem;
    position: fixed;
    z-index: 1;
    color: #FFFFFF;
    border: 1px solid rgba(0,0,0,.2);
    background: #B1B9E7;
    font-size: 18px;
}

.help:hover {
    background: #FFFFFF;
    border: 1px solid rgba(0,0,0,.2);
    color: #6b74a6;
}

.help:focus {
    color: #FFFFFF;
    border: 1px solid rgba(0,0,0,.2);
    background: #6b74a6;
}

.help:active {
    color: #FFFFFF;
    border: 1px solid rgba(0,0,0,.2) !important;
    background: #4e5687 !important;
}

.legendPopup {
    font-family: inherit;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}